@media (max-width: 767px) {
 
	
	
  .glb-col-5 {
    width: 100%;
  }
  .glb-col-7 {
    width: 100%;padding: 0;
  }
  .container {
    padding: 0 20px;
  }
  .heand {
    width: 100%;
    padding: 0;
  }
  .inter-col:after {
    display: none;
  }
  .cont-bt {
    display: none;
  }
  .tab-link {
    margin: 0;
    padding: 0 13px;
    display: initial;
    font-size: 11px;
  }
  .tab-link i {
    display: inline-block;
    width: 100%;
  }
  .content-wrapper {
    padding: 0;
  }
  .col-app-6 {
    width: 100%;
  }
 
  .apt-cl {
    width: 100%;
    margin: 0;
  }
  .frtl {
    margin: 21px 0 0;
    width: 100%;
  }.glb-col-5.grt {
    text-align: center;
}.alp {
    padding: 30px 0 0;
}

.grt h1 {
    font-size: 34px;
    line-height: 39px;
    margin: 16px 0;
}

.grt p {
    font-size: 16px; margin: 0 0 18px;
    line-height: 25px;
}
 .work-slide {
    margin: 40px 0 0;
}
.grt a {
    width: 41%;
    display: inline-block;
    margin: 0 6px;
}
	.regdc-sectn {
    padding: 44px 0 60px;
}.strip {
    padding: 0 0 20px;
}.wor-hed h2 {
    font-size: 25px;
}.alp h2 {
    font-size: 25px;
    line-height: normal;
}ul.accordion-list li h3:after {
 
    top: 21px;
 
}.foot-col.foot-nav li {
    margin: 0 0 8px;
}

.foot-tlt {
    margin: 0 0 10px;
}.foot-col.foot-adrs {
 
    padding-right: 0;
}.app-ft.foot-ap {
 
    text-align: left;
}

.wor-hed p {
    margin: 9px 0 0;
    font-size: 15px;
    line-height: 25px;
}.app-ft {
    margin: 0;
    text-align: center;
}

.app-ft a {
    display: inline-block;
    width: 43%;
    margin: 0 5px;
}.ablis {
    margin: 40px 0 30px 0;
}.offer-cor {
    padding: 24px 0 0 0;
}.offer-cor .ptt-row {
    margin: 30px 0 40px 0;
    display: inherit;
}

.attr-col {
    width: 100%;
    top: 0;
}

.inter-col {
    margin: 0 0 19px;
    text-align: center;
}

.attr-col.img-rp {
    display: none;
}

.attr-col.easy .inter-col {
    text-align: center;
}.hea-dta {
    display: none;
}.use-app {
    padding: 40px 0 40px 0;
}.faq-app {
    padding: 30px 20px;
}

.faq-app .container {
    padding: 26px;
}

ul.accordion-list h3 {
    font-size: 14px;
    line-height: 21px;
}.faq-app.get-tech {
    padding: 0 21px 50px;
} 

 .form-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
}

.form-row .col {
    width: 100%;
    margin: 0 0 20px;
}


.foot-col {
    width: 100% !important;
    margin: 0 0 20px;
}
.tech-img {
    width: 100%;
    display: none;
}

.tech-frm {
    width: 100%;
    padding: 0;
}
 

.app-ft.foot-ap br {
    display: none;
}
 .foot-copy .ptt-row {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.allrsv {
    width: 100%;
}

.allrsv.rightw {
    text-align: center;
    margin: 10px 0 0 0;
}

.site-footer {
    padding:30px 0 30px;
}
}
@media (min-width: 768px) and (max-width: 1024px) {	
  .glb-col-5 {
    width: 100%;
  }
  .glb-col-7 {
    width: 100%;padding: 0;
  }
  .container {
    padding: 0 20px;
  }
  .heand {
    width: 100%;
    padding: 0;
  }
  .inter-col:after {
    display: none;
  }
  .cont-bt {
    display: none;
  }
  .tab-link {
    margin: 0;
    padding: 0 13px;
    display: initial;
    font-size: 11px;
  }
  .tab-link i {
    display: inline-block;
    width: 100%;
  }
  .content-wrapper {
    padding: 0;
  }
  .col-app-6 {
    width: 100%;
  }
 
  .apt-cl {
    width: 100%;
    margin: 0;
  }
  .frtl {
    margin: 21px 0 0;
    width: 100%;
  }.glb-col-5.grt {
    text-align: center;
}.alp {
    padding: 30px 0 0;
}

.grt h1 {
    font-size: 34px;
    line-height: 39px;
    margin: 16px 0;
}

.grt p {
    font-size: 16px; margin: 0 0 18px;
    line-height: 25px;
}
 .work-slide {
    margin: 40px 0 0;
}
.grt a {
    width: 41%;
    display: inline-block;
    margin: 0 6px;
}
	.regdc-sectn {
    padding: 44px 0 60px;
}.strip {
    padding: 0 0 20px;
}.wor-hed h2 {
    font-size: 25px;
}.alp h2 {
    font-size: 25px;
    line-height: normal;
}ul.accordion-list li h3:after {
 
    top: 21px;
 
}.foot-col.foot-nav li {
    margin: 0 0 8px;
}

.foot-tlt {
    margin: 0 0 10px;
}.foot-col.foot-adrs {
 
    padding-right: 0;
}.app-ft.foot-ap {
 
    text-align: left;
}

.wor-hed p {
    margin: 9px 0 0;
    font-size: 15px;
    line-height: 25px;
}.app-ft {
    margin: 0;
    text-align: center;
}

.app-ft a {
    display: inline-block;
    width: 43%;
    margin: 0 5px;
}.ablis {
    margin: 40px 0 30px 0;
}.offer-cor {
    padding: 24px 0 0 0;
}.offer-cor .ptt-row {
    margin: 30px 0 40px 0;
    display: inherit;
}

.attr-col {
    width: 100%;
    top: 0;
}

.inter-col {
    margin: 0 0 19px;
    text-align: center;
}

.attr-col.img-rp {
    display: none;
}

.attr-col.easy .inter-col {
    text-align: center;
}.hea-dta {
    display: none;
}.use-app {
    padding: 40px 0 40px 0;
}.faq-app {
    padding: 30px 20px;
}

.faq-app .container {
    padding: 26px;
}

ul.accordion-list h3 {
    font-size: 14px;
    line-height: 21px;
}.faq-app.get-tech {
    padding: 0 21px 50px;
} 

 .form-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
}

.form-row .col {
    width: 100%;
    margin: 0 0 20px;
}


.foot-col {
    width: 100% !important;
    margin: 0 0 20px;
}
.tech-img {
    width: 100%;
    display: none;
}

.tech-frm {
    width: 100%;
    padding: 0;
}
 

.app-ft.foot-ap br {
    display: none;
}
 .foot-copy .ptt-row {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.allrsv {
    width: 100%;
}

.allrsv.rightw {
    text-align: center;
    margin: 10px 0 0 0;
}

.site-footer {
    padding:30px 0 30px;
}}
@media (max-width: 350px) {}
@media (max-width: 375px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1190px) {}
@media (min-width:1350px) and (max-width:1400px) {}
@media (max-width: 1920px) {}