@using ReDpett.Modal.AppConstants;
@using ReDpett.Modal.Login;
@using ReDpett.Service;
@using Microsoft.AspNetCore.Components.Forms
@using ReDpett_API.Modal;
@using System.Text.RegularExpressions;
@using Xamarin.Essentials;
@using Blazored.LocalStorage
@inject ILocalStorageService local;
@inject NavigationManager NavigationManager;
@using MudBlazor
@inject ISnackbar Snackbar

<EditForm Model=@lgn OnValidSubmit=@ValidFormSubmitted OnInvalidSubmit=@InvalidFormSubmitted>
    <DataAnnotationsValidator />
    <div class="log-body auth-page-wrapper">
        <div class="sign-bg">
            <section class="section-head">
                <div class="container">
                    <div class="logo text-center"><a href="/"><img src="images/logo.png" alt="#"></a></div>
                </div>
            </section>
            <div class="sign-form">
                <div class="container">
                    <div class="sign-tlt">Enter email to reset your password</div>
                    <div class="input-field">
                        <label>Email</label>
                        <InputText type="Email" @bind-Value=lgn.Email class="form-control" id="Email" placeholder="Email" />
                        <ValidationMessage For="@(() => lgn.Email)" style="color: #4d4d4d" />
                    </div>
                    <br />
                    <div class="input-field form-set-repeat">
                        <MudButton Variant="Variant.Filled" ButtonType="MudBlazor.ButtonType.Submit" Class="w-100 pa-3" style="background-color:#2a73a3;color:white;" Size="Size.Small">
                            @if (_processing)
                            {
                                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                <MudText Class="ms-2">Processing</MudText>
                            }
                            else
                            {
                                <MudText>Reset</MudText>
                            }
                        </MudButton>
                    </div>
                    <div class="form-group text-center  rest"> <a href="/login">Login</a> </div>
                </div>
            </div>
        </div>
    </div>

</EditForm>

@code {
    ForgotPassword lgn = new ForgotPassword();
    string LastSubmitResult;
    EmailService emailService;
    private bool _processing = false;
    void RefreshUI()
    {
        LastSubmitResult = "Please fill email field.";
        StateHasChanged();
    }
    async Task ValidFormSubmitted()
    {
        if (string.IsNullOrEmpty(lgn.Email))
        {
            LastSubmitResult = "Please fill email field.";

            return;
        }
        _processing = true;
        emailService = new EmailService();
        Random generator = new Random();
        String r = generator.Next(0, 1000000).ToString("D6");
        string subject = "Your OTP to forget your password";
        CancellationToken ct = new CancellationToken();
        emailService.SendEmailAsync(lgn.Email, r.ToString(), subject, ct);
        //if (rslt)
        //{
        //    NavigationManager.NavigateTo("/OTP");
        //}
        //else
        //{
        //    AddCloseAfterNavSnackbar();
        //}
    }
    public void AddCloseAfterNavSnackbar()
    {
        Snackbar.Add("Error occured, OTP could not be sent.", Severity.Error, (options) =>
        {
            options.CloseAfterNavigation = true;
        });
    }
    void InvalidFormSubmitted()
    {
        LastSubmitResult = "Invalid email";
    }
}